/*navbar*/
#site-logo {
	height: 230px;
}

#nav-menu {
	height: 39px;
    border: none;
    font-size: 1.190rem;
    background-color: #2000a2;
    color: #fbff00;
    border-radius: 3px;
}

#nav-menu:hover {
	background-color: #0a0a0a;
}

div#offcanvasRight {
	background-color: rgb(0 0 0 / 90%);
}

div#offcanvasRight div.offcanvas-header {
	align-items: end;
}

div#offcanvasRight button.btn-close {
	background: none !important;
	color: white !important;
	padding: 0px !important;
	height: 40px;
	width: 40px;
}

div#offcanvasRight button.btn-close svg {
	fill: white;
	width: 28px;
}
